<h1>Faisal Hassan</h1>
<p>Ruby on Rails Developer</p>
<p>I code things for the web. Technologies I'm familiar with include HTML/HAML, CSS/SASS, JavaScript and jQuery, and Ruby on Rails. I'm currently attending the Full Stack web developer course at <a href="careerfoundry.com" target="_blank">CareerFoundry</a></p>

<br />

	<a href="https://github.com/Faisal-Hassan" target="_blank">
	<%= image_tag("github.png") %> </a>
	<a href="https://www.linkedin.com/in/faisalhassanx" target="_blank">
	<%= image_tag("linkedin.png") %> </a>
	<a href="https://www.quora.com/Faisal-Hassan-4" target="_blank">
	<%= image_tag("quora.png") %> </a>
	<a href="https://twitter.com/faisal_hassanx" target="_blank">
	<%= image_tag("twitter.png") %> </a>